 # `ecommerce-sql-1` SQL Databse

Panduka Bandara <br>

## Installs

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.4.0)

In [ ]:
pip install pyodbc

Requirement already satisfied: pyodbc in /usr/local/lib/python3.12/dist-packages (5.2.0)

**Database Type Determines the Library**

| Database Type                 | Default Port | Python Library Example              | Notes                                                                      |
| ----------------------------- | ------------ | ----------------------------------- | -------------------------------------------------------------------------- |
| **MySQL / MariaDB**           | 3306         | `mysql-connector-python`, `PyMySQL` | Uses MySQL protocol.                                                       |
| **SQL Server / Azure SQL DB** | 1433         | `pyodbc`, `pymssql`                 | Uses TDS (Tabular Data Stream) protocol. MySQL libraries cannot speak TDS. |


> - This project is based on mysql server `ecommerce-sql-1.database.windows.net:1433` is Azure SQL Database, which is Microsoft SQL Server, not MySQL.
> - `mysql-connector-python` cannot connect because it only understands the MySQL protocol on port 3306.



**Why `pyodbc` Works for Azure SQL**

> - `pyodbc` uses ODBC drivers that can communicate with SQL Server’s TDS protocol.
> - Supports encryption, Azure authentication, timeouts, and all SQL Server data types.
> -  Recommended and officially supported by Microsoft for Python → Azure SQL connectivity.

In [ ]:
# To work ,Ensure you have ODBC Driver 18 for SQL Server installed on the system
# Add Microsoft repository
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/22.04/prod.list > /etc/apt/sources.list.d/mssql-release.list

# Update packages
!apt-get update

# Install ODBC driver and unixODBC
!ACCEPT_EULA=Y apt-get install -y msodbcsql18 unixodbc-dev

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
100   975  100   975    0     0   5177      0 --:--:-- --:--:-- --:--:--  5158
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0    452      0 --:--:-- --:--:-- --:--:--   454
Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:2 https://cli.github.com/packages stable InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:4 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease [3,632 B]
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:6 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:7 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [80.4 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [2,002 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:15 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main armhf Packages [21.0 kB]
Get:16 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main arm64 Packages [79.5 kB]
Get:17 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 Packages [246 kB]
Get:18 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main all Packages [1,331 B]
Get:19 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,237 kB]
Get:20 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,789 kB]
Get:21 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [43.0 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,580 kB]
Get:23 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,310 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,623 kB]
Get:25 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,272 kB]
Fetched 24.7 MB in 5s (4,572 kB/s)
Reading package lists... Done
W: https://packages.microsoft.com/ubuntu/22.04/prod/dists/jammy/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unixodbc-dev is already the newest version (2.3.9-5ubuntu0.1).
unixodbc-dev set to manually installed.
The following additional packages will be installed:
  odbcinst unixodbc
The following NEW packages will be installed:
  msodbcsql18 odbcinst unixodbc
0 upgraded, 3 newly installed, 0 to remove and 41 not upgraded.
Need to get 791 kB of archives.
After this operation, 164 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 msodbcsql18 amd64 18.5.1.1-1 [755 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 odbcinst amd64 2.3.9-5ubuntu0.1 [9,930 B]
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 unixodbc amd64 2.3.9-5ubuntu0.1 [26.7 kB]
Fetched 791 kB in 1s (766 kB/s)
Preconfiguring packages ...
Selecting previously unselected package odbcinst.
(Reading database ... 126374 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package msodbcsql18.
Preparing to unpack .../msodbcsql18_18.5.1.1-1_amd64.deb ...
Unpacking msodbcsql18 (18.5.1.1-1) ...
Setting up odbcinst (2.3.9-5ubuntu0.1) ...
Setting up unixodbc (2.3.9-5ubuntu0.1) ...
Setting up msodbcsql18 (18.5.1.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Processing triggers for man-db (2.10.2-1) ...

## Establish the connection

In [ ]:
import pyodbc

# Connection details
server = 'tcp:ecommerce-sql-1.database.windows.net,1433'
database = 'ecommerce-sql-db-1'
username = 'admin123'
password = 'ecomdp#@@S'   # Replace with your real password

try:
    # Define connection string
    connection_string = f"""
        DRIVER={{ODBC Driver 18 for SQL Server}};
        SERVER={server};
        DATABASE={database};
        UID={username};
        PWD={password};
        Encrypt=yes;
        TrustServerCertificate=no;
        Connection Timeout=30;
    """

    # Connect to Azure SQL
    conn = pyodbc.connect(connection_string)
    print("Connected to Azure SQL Database")

    # Create a cursor
    cursor = conn.cursor()

    # Run a sample query
    cursor.execute("SELECT DB_NAME();")
    row = cursor.fetchone()
    print("You're connected to database:", row[0])

    # Example: fetch current time
    cursor.execute("SELECT SYSDATETIME();")
    print("Current DB time:", cursor.fetchone()[0])

except Exception as e:
    print("Error:", e)
finally:
    if 'cursor' in locals():
        cursor.close()
    if 'conn' in locals():
        conn.close()
        print("Connection closed")

Connected to Azure SQL Database
You're connected to database: ecommerce-sql-db-1
Current DB time: 2025-09-07 20:11:33.918300
Connection closed

## Send the data into the SQL Database

In [ ]:
# Import Data
import pandas as pd
order_payments = pd.read_csv('olist_order_payments_dataset.csv')
order_payments.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [ ]:
import pandas as pd
import pyodbc

# Connection details (Azure SQL)
server = "ecommerce-sql-1.database.windows.net,1433"
database = "ecommerce-sql-db-1"
username = "admin123"
password = "ecomdp#@@S"

# CSV file path
csv_file_path = "olist_order_payments_dataset.csv"

# Table name
table_name = "order_payments"

# Connection string
conn_str = f"""
DRIVER={{ODBC Driver 18 for SQL Server}};
SERVER={server};
DATABASE={database};
UID={username};
PWD={password};
Encrypt=yes;
TrustServerCertificate=no;
Connection Timeout=30;
"""

try:
    # Step 1: Connect to SQL Server
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Connected to SQL Server successfully!")

    # Step 2: Drop table if exists
    cursor.execute(f"IF OBJECT_ID('{table_name}', 'U') IS NOT NULL DROP TABLE {table_name};")
    print(f"Table '{table_name}' dropped if it existed.")

    # Step 3: Create table
    create_table_query = f"""
    CREATE TABLE {table_name} (
        order_id NVARCHAR(50),
        payment_sequential INT,
        payment_type NVARCHAR(20),
        payment_installments INT,
        payment_value FLOAT
    );
    """
    cursor.execute(create_table_query)
    print(f"Table '{table_name}' created successfully!")

    # Step 4: Load CSV into pandas DataFrame
    df = pd.read_csv(csv_file_path)
    print("CSV data loaded into pandas DataFrame.")

    # Step 5: Insert data in batches
    batch_size = 500
    total_records = len(df)
    print(f"Starting data insertion in batches of {batch_size} records...")

    for start in range(0, total_records, batch_size):
        end = start + batch_size
        batch = df.iloc[start:end]
        records = [tuple(row) for row in batch.itertuples(index=False, name=None)]

        placeholders = ", ".join("?" * len(batch.columns))
        insert_query = f"INSERT INTO {table_name} VALUES ({placeholders})"
        cursor.fast_executemany = True  # Enable fast insert for large batches
        cursor.executemany(insert_query, records)
        conn.commit()
        print(f"Inserted records {start + 1} to {min(end, total_records)} successfully.")

    print(f"All {total_records} records inserted into '{table_name}'.")

except Exception as e:
    print("Error:", e)

finally:
    if 'cursor' in locals():
        cursor.close()
    if 'conn' in locals():
        conn.close()
        print("Connection closed")

Connected to SQL Server successfully!
Table 'order_payments' dropped if it existed.
Table 'order_payments' created successfully!
CSV data loaded into pandas DataFrame.
Starting data insertion in batches of 500 records...
Inserted records 1 to 500 successfully.
Inserted records 501 to 1000 successfully.
Inserted records 1001 to 1500 successfully.
Inserted records 1501 to 2000 successfully.
Inserted records 2001 to 2500 successfully.
Inserted records 2501 to 3000 successfully.
Inserted records 3001 to 3500 successfully.
Inserted records 3501 to 4000 successfully.
Inserted records 4001 to 4500 successfully.
Inserted records 4501 to 5000 successfully.
Inserted records 5001 to 5500 successfully.
Inserted records 5501 to 6000 successfully.
Inserted records 6001 to 6500 successfully.
Inserted records 6501 to 7000 successfully.
Inserted records 7001 to 7500 successfully.
Inserted records 7501 to 8000 successfully.
Inserted records 8001 to 8500 successfully.
Inserted records 8501 to 9000 successfully.
Inserted records 9001 to 9500 successfully.
Inserted records 9501 to 10000 successfully.
Inserted records 10001 to 10500 successfully.
Inserted records 10501 to 11000 successfully.
Inserted records 11001 to 11500 successfully.
Inserted records 11501 to 12000 successfully.
Inserted records 12001 to 12500 successfully.
Inserted records 12501 to 13000 successfully.
Inserted records 13001 to 13500 successfully.
Inserted records 13501 to 14000 successfully.
Inserted records 14001 to 14500 successfully.
Inserted records 14501 to 15000 successfully.
Inserted records 15001 to 15500 successfully.
Inserted records 15501 to 16000 successfully.
Inserted records 16001 to 16500 successfully.
Inserted records 16501 to 17000 successfully.
Inserted records 17001 to 17500 successfully.
Inserted records 17501 to 18000 successfully.
Inserted records 18001 to 18500 successfully.
Inserted records 18501 to 19000 successfully.
Inserted records 19001 to 19500 successfully.
Inserted records 19501 to 20000 successfully.
Inserted records 20001 to 20500 successfully.
Inserted records 20501 to 21000 successfully.
Inserted records 21001 to 21500 successfully.
Inserted records 21501 to 22000 successfully.
Inserted records 22001 to 22500 successfully.
Inserted records 22501 to 23000 successfully.
Inserted records 23001 to 23500 successfully.
Inserted records 23501 to 24000 successfully.
Inserted records 24001 to 24500 successfully.
Inserted records 24501 to 25000 successfully.
Inserted records 25001 to 25500 successfully.
Inserted records 25501 to 26000 successfully.
Inserted records 26001 to 26500 successfully.
Inserted records 26501 to 27000 successfully.
Inserted records 27001 to 27500 successfully.
Inserted records 27501 to 28000 successfully.
Inserted records 28001 to 28500 successfully.
Inserted records 28501 to 29000 successfully.
Inserted records 29001 to 29500 successfully.
Inserted records 29501 to 30000 successfully.
Inserted records 30001 to 30500 successfully.
Inserted records 30501 to 31000 successfully.
Inserted records 31001 to 31500 successfully.
Inserted records 31501 to 32000 successfully.
Inserted records 32001 to 32500 successfully.
Inserted records 32501 to 33000 successfully.
Inserted records 33001 to 33500 successfully.
Inserted records 33501 to 34000 successfully.
Inserted records 34001 to 34500 successfully.
Inserted records 34501 to 35000 successfully.
Inserted records 35001 to 35500 successfully.
Inserted records 35501 to 36000 successfully.
Inserted records 36001 to 36500 successfully.
Inserted records 36501 to 37000 successfully.
Inserted records 37001 to 37500 successfully.
Inserted records 37501 to 38000 successfully.
Inserted records 38001 to 38500 successfully.
Inserted records 38501 to 39000 successfully.
Inserted records 39001 to 39500 successfully.
Inserted records 39501 to 40000 successfully.
Inserted records 40001 to 40500 successfully.
Inserted records 40501 to 41000 successfully.
Inserted records 41001 to 41500 successfully.
Inserted records 41501 to 42000 successfully.
Inserted records 42001 to 42500 successfully.
Inserted records 42501 to 43000 successfully.
Inserted records 43001 to 43500 successfully.
Inserted records 43501 to 44000 successfully.
Inserted records 44001 to 44500 successfully.
Inserted records 44501 to 45000 successfully.
Inserted records 45001 to 45500 successfully.
Inserted records 45501 to 46000 successfully.
Inserted records 46001 to 46500 successfully.
Inserted records 46501 to 47000 successfully.
Inserted records 47001 to 47500 successfully.
Inserted records 47501 to 48000 successfully.
Inserted records 48001 to 48500 successfully.
Inserted records 48501 to 49000 successfully.
Inserted records 49001 to 49500 successfully.
Inserted records 49501 to 50000 successfully.
Inserted records 50001 to 50500 successfully.
Inserted records 50501 to 51000 successfully.
Inserted records 51001 to 51500 successfully.
Inserted records 51501 to 52000 successfully.
Inserted records 52001 to 52500 successfully.
Inserted records 52501 to 53000 successfully.
Inserted records 53001 to 53500 successfully.
Inserted records 53501 to 54000 successfully.
Inserted records 54001 to 54500 successfully.
Inserted records 54501 to 55000 successfully.
Inserted records 55001 to 55500 successfully.
Inserted records 55501 to 56000 successfully.
Inserted records 56001 to 56500 successfully.
Inserted records 56501 to 57000 successfully.
Inserted records 57001 to 57500 successfully.
Inserted records 57501 to 58000 successfully.
Inserted records 58001 to 58500 successfully.
Inserted records 58501 to 59000 successfully.
Inserted records 59001 to 59500 successfully.
Inserted records 59501 to 60000 successfully.
Inserted records 60001 to 60500 successfully.
Inserted records 60501 to 61000 successfully.
Inserted records 61001 to 61500 successfully.
Inserted records 61501 to 62000 successfully.
Inserted records 62001 to 62500 successfully.
Inserted records 62501 to 63000 successfully.
Inserted records 63001 to 63500 successfully.
Inserted records 63501 to 64000 successfully.
Inserted records 64001 to 64500 successfully.
Inserted records 64501 to 65000 successfully.
Inserted records 65001 to 65500 successfully.
Inserted records 65501 to 66000 successfully.
Inserted records 66001 to 66500 successfully.
Inserted records 66501 to 67000 successfully.
Inserted records 67001 to 67500 successfully.
Inserted records 67501 to 68000 successfully.
Inserted records 68001 to 68500 successfully.
Inserted records 68501 to 69000 successfully.
Inserted records 69001 to 69500 successfully.
Inserted records 69501 to 70000 successfully.
Inserted records 70001 to 70500 successfully.
Inserted records 70501 to 71000 successfully.
Inserted records 71001 to 71500 successfully.
Inserted records 71501 to 72000 successfully.
Inserted records 72001 to 72500 successfully.
Inserted records 72501 to 73000 successfully.
Inserted records 73001 to 73500 successfully.
Inserted records 73501 to 74000 successfully.
Inserted records 74001 to 74500 successfully.
Inserted records 74501 to 75000 successfully.
Inserted records 75001 to 75500 successfully.
Inserted records 75501 to 76000 successfully.
Inserted records 76001 to 76500 successfully.
Inserted records 76501 to 77000 successfully.
Inserted records 77001 to 77500 successfully.
Inserted records 77501 to 78000 successfully.
Inserted records 78001 to 78500 successfully.
Inserted records 78501 to 79000 successfully.
Inserted records 79001 to 79500 successfully.
Inserted records 79501 to 80000 successfully.
Inserted records 80001 to 80500 successfully.
Inserted records 80501 to 81000 successfully.
Inserted records 81001 to 81500 successfully.
Inserted records 81501 to 82000 successfully.
Inserted records 82001 to 82500 successfully.
Inserted records 82501 to 83000 successfully.
Inserted records 83001 to 83500 successfully.
Inserted records 83501 to 84000 successfully.
Inserted records 84001 to 84500 successfully.
Inserted records 84501 to 85000 successfully.
Inserted records 85001 to 85500 successfully.
Inserted records 85501 to 86000 successfully.
Inserted records 86001 to 86500 successfully.
Inserted records 86501 to 87000 successfully.
Inserted records 87001 to 87500 successfully.
Inserted records 87501 to 88000 successfully.
Inserted records 88001 to 88500 successfully.
Inserted records 88501 to 89000 successfully.
Inserted records 89001 to 89500 successfully.
Inserted records 89501 to 90000 successfully.
Inserted records 90001 to 90500 successfully.
Inserted records 90501 to 91000 successfully.
Inserted records 91001 to 91500 successfully.
Inserted records 91501 to 92000 successfully.
Inserted records 92001 to 92500 successfully.
Inserted records 92501 to 93000 successfully.
Inserted records 93001 to 93500 successfully.
Inserted records 93501 to 94000 successfully.
Inserted records 94001 to 94500 successfully.
Inserted records 94501 to 95000 successfully.
Inserted records 95001 to 95500 successfully.
Inserted records 95501 to 96000 successfully.
Inserted records 96001 to 96500 successfully.
Inserted records 96501 to 97000 successfully.
Inserted records 97001 to 97500 successfully.
Inserted records 97501 to 98000 successfully.
Inserted records 98001 to 98500 successfully.
Inserted records 98501 to 99000 successfully.
Inserted records 99001 to 99500 successfully.
Inserted records 99501 to 100000 successfully.
Inserted records 100001 to 100500 successfully.
Inserted records 100501 to 101000 successfully.
Inserted records 101001 to 101500 successfully.
Inserted records 101501 to 102000 successfully.
Inserted records 102001 to 102500 successfully.
Inserted records 102501 to 103000 successfully.
Inserted records 103001 to 103500 successfully.
Inserted records 103501 to 103886 successfully.
All 103886 records inserted into 'order_payments'.
Connection closed

### Efficient ways to send data

Instead of Manually send data by batches , its possible to send them using `cursor.fast_executemany = True`  which allows bulck insertion through `pyodbc`. <br>
OR `from sqlalchemy import create_engine` can be used

#### `cursor.fast_executemany = True` (pyodbc)

* Only works with pyodbc.
* Optimizes `cursor.executemany()` for **bulk inserts**.
* Great for **row-by-row inserts from Python lists or Pandas**.
* Example:

```python
import pyodbc
import pandas as pd

conn = pyodbc.connect("DRIVER={ODBC Driver 18 for SQL Server};SERVER=...;DATABASE=...;UID=...;PWD=...;Encrypt=yes;")
cursor = conn.cursor()
cursor.fast_executemany = True

df = pd.read_csv("data.csv")
records = [tuple(row) for row in df.itertuples(index=False, name=None)]
placeholders = ", ".join("?" * len(df.columns))
cursor.executemany(f"INSERT INTO table_name VALUES ({placeholders})", records)
conn.commit()
```

> **Pros:** Very fast, direct, fine-grained control. <br>
> **Cons:** Works only with pyodbc, not higher-level ORM.

#### `from sqlalchemy import create_engine` (SQLAlchemy)


* SQLAlchemy provides ORM-style abstraction and *connection pooling.
* Works on top of pyodbc (or other DB drivers) to simplify connections and table operations.
* Can insert Pandas DataFrames directly with `df.to_sql()`.
* Example

```python
from sqlalchemy import create_engine
import pandas as pd
import urllib

server = 'ecommerce-sql-1.database.windows.net'
database = 'ecommerce-sql-db-1'
username = 'admin123'
password = 'ecomdp#@@S'

params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=no;"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

df = pd.read_csv("data.csv")
df.to_sql("table_name", engine, if_exists="replace", index=False, chunksize=500)
```
> **Pros:** Very clean, less code, automatic batching (`chunksize`), handles schema automatically.
>  **Cons:** Slightly less control than raw pyodbc; may be slower for extremely large datasets unless tuned.

#### Recommendation

| Scenario                                                       | Use                                     |
| -------------------------------------------------------------- | --------------------------------------- |
| You want **maximum speed with large batches** and full control | `pyodbc + fast_executemany=True`        |
| You want **clean Pandas integration and simpler code**         | `SQLAlchemy + df.to_sql(chunksize=...)` |

---
> Its possible to combine both: SQLAlchemy can use a **pyodbc connection with `fast_executemany=True`** for super-fast `to_sql` inserts.

# ecommerce-mongodb-1 Databse

In [1]:
pip install pandas azure-cosmos

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting azure-cosmos
  Downloading azure_cosmos-4.9.0-py3-none-any.whl.metadata (80 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.8/80.8 kB 5.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Collecting azure-core>=1.30.0 (from azure-cosmos)
  Downloading azure_core-1.35.0-py3-none-any.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from azure-cosmos) (4.15.0)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from azure-core>=1.30.0->azure-cosmos) (2.32.4)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from azure-core>=1.30.0->azure-cosmos) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-cosmos) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-cosmos) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-cosmos) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-cosmos) (2025.8.3)
Downloading azure_cosmos-4.9.0-py3-none-any.whl (303 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 303.2/303.2 kB 11.1 MB/s eta 0:00:00
Downloading azure_core-1.35.0-py3-none-any.whl (210 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.7/210.7 kB 14.3 MB/s eta 0:00:00
Installing collected packages: azure-core, azure-cosmos
Successfully installed azure-core-1.35.0 azure-cosmos-4.9.0

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 29.6 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 20.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.0

In [7]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
import uuid

# === CONFIGURATION ===
username = "cosdmin123"
password = "ecomdp#@@S"
database_name = "ecommerce_db"
collection_name = "product_category_translation"

# === ESCAPE USERNAME & PASSWORD FOR URI ===
username_enc = quote_plus(username)
password_enc = quote_plus(password)

# === CONNECTION STRING ===
CONNECTION_STRING = (
    f"mongodb+srv://{username_enc}:{password_enc}"
    "@ecommerce-cosmos-db-1.global.mongocluster.cosmos.azure.com/"
    "?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000"
)

# === CONNECT TO COSMOS DB (Mongo API) ===
try:
    client = MongoClient(CONNECTION_STRING, serverSelectionTimeoutMS=5000)
    server_info = client.server_info()
    print("Connected to Cosmos DB")
    print("Server Info:", server_info)
except Exception as e:
    print("Connection failed:", e)
    exit(1)

# === GET DATABASE & COLLECTION ===
db = client[database_name]
collection = db[collection_name]

# === READ CSV ===
csv_file = "/content/product_category_name_translation.csv"
df = pd.read_csv(csv_file)

# === TRANSFORM CSV ROWS TO DOCUMENTS ===
docs = []
for _, row in df.iterrows():
    doc = {
        "_id": str(uuid.uuid4()),  # Cosmos (Mongo API) requires a unique _id
        "product_category_name": row["product_category_name"],
        "product_category_name_english": row["product_category_name_english"]
    }
    docs.append(doc)

# === INSERT INTO COSMOS DB ===
if docs:
    result = collection.insert_many(docs)
    print(f"Inserted {len(result.inserted_ids)} documents into '{collection_name}' collection.")
else:
    print("No data found in CSV.")

/tmp/ipython-input-2759170125.py:25: UserWarning: You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb
  client = MongoClient(CONNECTION_STRING, serverSelectionTimeoutMS=5000)
/usr/local/lib/python3.12/dist-packages/pymongo/synchronous/mongo_client.py:1758: UserWarning: You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb
  self._resolve_srv()

Connected to Cosmos DB
Server Info: {'version': '8.0.0', 'versionArray': [8, 0, 0, 0], 'bits': 64, 'maxBsonObjectSize': 16777216, 'ok': 1.0}
Inserted 71 documents into 'product_category_translation' collection.

In [8]:
from pymongo import MongoClient
from urllib.parse import quote_plus



# === CONNECTION STRING ===
CONNECTION_STRING = (
    f"mongodb+srv://{username_enc}:{password_enc}"
    "@ecommerce-cosmos-db-1.global.mongocluster.cosmos.azure.com/"
    "?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000"
)

# === CONNECT ===
client = MongoClient(CONNECTION_STRING, serverSelectionTimeoutMS=5000)
db = client[database_name]
collection = db[collection_name]

# === RETRIEVE DOCUMENTS ===
print("Retrieving documents from collection...")
for doc in collection.find().limit(10):   # limit to 10 docs for preview
    print(doc)

/tmp/ipython-input-455099000.py:14: UserWarning: You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb
  client = MongoClient(CONNECTION_STRING, serverSelectionTimeoutMS=5000)
/usr/local/lib/python3.12/dist-packages/pymongo/synchronous/mongo_client.py:1758: UserWarning: You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb
  self._resolve_srv()

✅ Retrieving documents from collection...
{'_id': 'ded6c4b3-8a1b-49bf-8640-26b71c6f0615', 'product_category_name': 'beleza_saude', 'product_category_name_english': 'health_beauty'}
{'_id': 'dddc34d5-3a49-4405-950b-5611440c48b3', 'product_category_name': 'informatica_acessorios', 'product_category_name_english': 'computers_accessories'}
{'_id': 'bd2b6b24-b025-4230-a62e-e292f35502ed', 'product_category_name': 'automotivo', 'product_category_name_english': 'auto'}
{'_id': '14d88c3c-3abe-4cc0-9af0-29b1b4f6708e', 'product_category_name': 'cama_mesa_banho', 'product_category_name_english': 'bed_bath_table'}
{'_id': '00f03fcc-9b69-479d-8c02-09fa6f755118', 'product_category_name': 'moveis_decoracao', 'product_category_name_english': 'furniture_decor'}
{'_id': '9637baa4-dd70-470d-9c56-cea11384a69c', 'product_category_name': 'esporte_lazer', 'product_category_name_english': 'sports_leisure'}
{'_id': '46bc16ff-fa0f-4493-a789-0b1692f5d90b', 'product_category_name': 'perfumaria', 'product_category_name_english': 'perfumery'}
{'_id': '983890ce-a1c2-4a68-9a40-9f6a9bbba0a7', 'product_category_name': 'utilidades_domesticas', 'product_category_name_english': 'housewares'}
{'_id': '1b316568-9273-4ee2-952c-77de68499521', 'product_category_name': 'telefonia', 'product_category_name_english': 'telephony'}
{'_id': 'cf789779-2269-49b9-b3f9-02b084784251', 'product_category_name': 'relogios_presentes', 'product_category_name_english': 'watches_gifts'}